#zhiqinfootball {
    background-color: #0c0f15;
}

main {
    font-family: '微軟正黑體', "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #0c0f15;
    color: #ababab;
    margin: 2rem 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #f90a23;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.heading-page {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
}

.modal-dialog {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.media-group {
    background-image: url('../img/bg-grass.jpg');
}

.modal-body {
    /*background-image: url('../img/bg-grass.jpg');*/
    background-position: cover;
    background-repeat: repeat-x;
}

.modal-body h3 {
    color: #ddd;
    text-shadow: 0 0 8px #271c82;
}

.modeal-body video {
    background-color: #000;
    width: 85%;
}

@media (max-width: 768px) {
    .modeal-body video {
        width: 100%;
    }
}

.modal-content {
    margin-top: 1%;
    height: auto;
    min-height: 95%;
    border-radius: 0;
}

main a {
    color: inherit;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

main a:hover,
main a:focus {
    color: #ababab;
    text-decoration: none;
    outline: 0 none;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    color: #1e2530;
    font-family: '微軟正黑體', "Open Sans", sans-serif;
    margin: 0;
    line-height: 1.3;
}

main p {
    margin-bottom: 20px;
}

main p:last-child {
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media img {
    max-width: 100%;
    height: auto;
}

.layer {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 90%;
    background: #FFF;
    color: #151E3F;
    transition: all 0.9s ease;
}

.layer p {
    transition: all 0.9s ease;
    transform: scale(0.1)
}



.media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    font-size: 1.5rem;
}

.media:hover .layer p {
    transform: scale(1);
    transition: all 0.9s ease;
}


@media (max-width: 800px) {
    body {
        transform: scale(0.6);
    }
}

@media (max-width: 600px) {
    .wrapper {
        display: block;
    }
}

.media-box {
    background-image: url(../img/bg-masthead2.jpg);
    background-position: center;
    background-size: cover;
}

.image-container {
    position: relative;
    width: 75%;
}

@media (max-width: 960px) {
    .image-container {
        width: 95%;
    }
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}