section {
    margin-top: 2%;
}

#matches .club-logo {
    max-height: 44px;
}

#matches .modal-title {
    font-size: 1.8rem;
    font-weight: 700;
}

#matches kbd {
    font-size: 2rem;
}

#matches .nav-item .active {
    color: #525cfa;
    background-color: #ffffff !important;
}

#matches .nav-item .nav-link {
    background-color: #dbdbdb;
}

.card {
    overflow-y: auto;
}

#matches .card-img-overlay {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(0, 0, 150, 0.8));
    background-size: cover;
}

#matches .card-img {
    min-height: 20vw;
}

#matches .modal-dialog {
    max-width: 80%;
}

@media (max-width: 960px) {
    #matches .modal-dialog {
        max-width: 95%;
    }
}

#matches .history-detail {
    cursor: pointer;
    color: #ffc107;
}

.trophy-icon {
    max-width: 50px;
    max-height: 2.5rem;
}