section {
    margin-top: 2%;
}

.card {
    overflow-y: auto;
}

#matches .card-img-overlay {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(0, 0, 150, 0.8));
    background-size: cover;
}

#matches .card-img {
    min-height: 400px;
}

#matches .modal-dialog {
    max-width: 80%;
}

@media (max-width: 960px) {
    #matches .modal-dialog {
        max-width: 95%;
    }
}

#matches .history-detail {
    cursor: pointer;
    color: #ffc107;
}

#matches .table tr td {
    vertical-align: middle;
}

.trophy-icon {
    max-height: 2.5rem;
}