@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,700';

.player-card .modal-dialog {
    max-width: 60%;
}

@media (max-width: 960px) {
    .player-card .modal-dialog {
        max-width: 95%;
    }
}

.profile-card {
    /*max-width: 300px;*/
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card img {
    transition: all 0.15s linear;
}

.profile-card .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.profile-card .profile-number {
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    color: rgba(200, 186, 68, 1);
    left: 30px;
    top: 50px;
    transition: all 0.15s linear;
    text-shadow: 0.1em 0.1em 0.1em black;
}

.profile-card .profile-position {
    position: absolute;
    /*color: rgba(0, 0, 0, 0.8);
    font-weight: 700;*/
    left: 30px;
    top: 130px;
    /*transition: all 0.15s linear;
    text-shadow: 0.1em 0.1em 0.2em #fff;*/
}

.profile-card .profile-position .position-item {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    /*left: 30px;
    top: 130px;*/
    transition: all 0.15s linear;
    text-shadow: 0.1em 0.1em 0.2em #fff;
}

.profile-card .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 5px;
    right: 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 70%, rgba(255, 255, 0, 0));
    color: #FFF;
    /*padding: 50px 0px 20px 0px;*/
    transition: all 0.15s linear;
}

.profile-card .profile-overview h3 {
    font-weight: bold;
}

.profile-card .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card:hover img {
    filter: brightness(80%);
}

.profile-card:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card:hover .profile-position {
    left: 40px;
}

.profile-card:hover .profile-overview {
    padding-bottom: 25px;
}

.modal-body {
    text-align: left;
}

/*style checkbox*/

.position-selectors {
    margin: 4px 4px 4px 0;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

.position-selectors label {
    float: left;
    width: 4.0em;
    margin-bottom: 0;
}

.position-selectors label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

.position-selectors label input {
    position: absolute;
    top: -20px;
    display: none;
}

.position-selectors input:checked+span {
    background-color: #911;
    color: #fff;
}

.position-selectors input:hover+span {
    background-color: #191;
    color: #fff;
}

.position-selectors input:checked:hover+span {
    background-color: #c11;
    color: #fff;
}