<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#160a13">
    <meta name="theme-color" content="#ffffff">
    <title>志清足球隊</title>
    <meta name="description" content="臺北市立志清國民小學108學年級足球隊" />
    <meta property="og:site_name" content="ZhiQingFootball" />
    <meta property="og:url" content="https://skite.github.io/ZhiQingFootball/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ZhiQingFootball" />
    <meta property="og:image" content="https://skite.github.io/ZhiQingFootball/img/bg-masthead.jpg" />
    <meta property="og:description" content="臺北市立志清國民小學108學年級足球隊" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link rel="icon" href="img/favicon.png">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
    <style type="text/css">
    #ZhiQingFootball {
        background: -webkit-linear-gradient(left, #25c481, #25b7c4);
        background: linear-gradient(to right, #25c481, #25b7c4);
    }

    .td-detail {
        width: 60%;
    }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-logo" href="index.html"><img src="img/logo.png" class="img-fluid nav-logo"><span>志清足球隊</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-default" href="squad.html">Squad</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="matches.html">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="schedule.html">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="media.html">Media</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-5 text-dark">賽事記錄</h2>
                </div>
            </div>
        </div>
    </header>
    <!-- matches -->
    <section id="ZhiQingFootball" class="container bg-light text-center">
        <h1>{{matchType}} Details</h1>
        <template v-if="matchType.slice(-1) === 's'">
            <h4 class="my-2">
                <strong>Total {{matchType}} : {{ filteredCups.matches.reduce((a, c) => a + parseInt(c.matches.length), 0) }} Games</strong>
            </h4>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-table-cell">年份</th>
                            <th>賽事</th>
                            <th>層級</th>
                            <th class="td-detail"><span class="d-none d-sm-table-cell">比賽日期、</span>對手、結果</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr v-for="cup in filteredCups.matches" v-if="cup.matches.length > 0">
                            <td class="d-none d-sm-table-cell">{{cup.year}}</td>
                            <td>{{cup.cupName}}</td>
                            <td>{{cup.grade}}</td>
                            <td class="td-detail">
                                <div class="row" v-for="match in cup.matches">
                                    <div class="col d-none d-sm-table-cell">
                                        {{match.date.slice(-4, -2)}}/{{match.date.slice(-2)}}
                                    </div>
                                    <div class="col-xs-6">
                                        {{match.opponent.name}}
                                    </div>
                                    <div class="col">
                                        {{match.final_score}}
                                    </div>
                                    <div class="col">
                                        {{match.wdl}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" v-show="matchType === 'Draws'">* 本場比賽依大會規定列為友誼賽，不採計積分與球員成績</div>
            <div class="row" v-show="matchType === 'Loses'">* 本場比賽本隊因大會賽程安排失當不得已棄賽，遭裁定敗</div>
        </template>
        <template v-else>
            <h4 class="py-2">
                <strong>Total : {{ filteredCups.trophies.length }} {{matchType}}</strong>
            </h4>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>年份</th>
                            <th>賽事</th>
                            <th>層級</th>
                            <th>賽制</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr v-for="cup in filteredCups.trophies">
                            <td>{{cup.year}}</td>
                            <td>{{cup.cupName}}</td>
                            <td>{{cup.grade}}</td>
                            <td>{{cup.system}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="https://github.com/Skite/ZhiQingFootball/issues">意見回饋</a>
                        </li>
                        <!-- <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li> -->
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; ZhiQin Football 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-2 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <img src="img/qrcode.png" class="img-fluid">
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/match.js"></script>
    <script type="text/javascript">
    $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
    </script>
</body>

</html>