<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#160a13">
    <meta name="theme-color" content="#ffffff">
    <title>志清足球隊</title>
    <meta name="description" content="臺北市立志清國民小學108學年級足球隊" />
    <meta property="og:site_name" content="ZhiQinFootball" />
    <meta property="og:url" content="https://skite.github.io/ZhiQinFootball/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ZhiQinFootball" />
    <meta property="og:image" content="https://skite.github.io/ZhiQinFootball/img/bg-masthead.jpg" />
    <meta property="og:description" content="臺北市立志清國民小學108學年級足球隊" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/schedule.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-logo" href="index.html"><img src="img/logo.png" class="img-fluid nav-logo"><span>志清足球隊</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-default" href="squad.html">Squad</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="matches.html">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="schedule.html">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="media.html">Media</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">賽事記錄</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- matches -->
    <section id="matches" class="bg-light text-center">
        <h2>Trophies and Match Recap</h2>
        <div class="container-fluid" id="zhiqinfootball" v-cloak>
            <div class="row px-lg-4">
                <div class="col-lg-6 col-md-12" v-for="match in sortMatches">
                    <div class="card bg-dark text-white mt-4">
                        <img class="card-img img-fluid" :src="'img/matches/' + match.cover + '.jpg'" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title">{{ match.year }} {{ match.cupName }} ({{ match.system }})</h2>
                            <h3 v-if="!!match.trophy">
                                <template v-if="!match.trophy.includes('冠軍')">
                                    <img class="trophy-icon img-fluid" src="img/trophy.svg"> {{ match.trophy }}
                                </template>
                                <template v-else>
                                    <img class="trophy-icon img-fluid" src="img/trophy-1st.svg"> {{ match.trophy }}
                                </template>
                            </h3>
                            <div v-if="!!match.note" v-html="match.note"></div>
                            <div class="card-text">
                                <div class="row justify-content-between">
                                    <div class="col">Opponents</div>
                                    <div class="col">Final Scores</div>
                                    <div class="col"></div>
                                </div>
                                <template v-for="game in match.matches">
                                    <div class="row justify-content-start align-items-center my-2">
                                        <div class="col">{{ game.opponent }}</div>
                                        <div class="col">{{ game.final_score }} <span v-if="!!game.pso">(PSO {{ game.pso }})</span> {{ game.wdl }}</div>
                                        <div class="col history-detail"><a data-toggle="modal" :data-target="'#' + game.opponent + game.date" v-if="game.starters.length > 0">Recap</a></div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade text-dark" :id="game.opponent + game.date" tabindex="-1" role="dialog" :aria-labelledby="game.opponent + game.date" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content container-fluid">
                                                <div class="modal-header">
                                                    <kbd class="match-date">{{ game.date.slice(0,4) }} / {{ game.date.slice(4,6) }} / {{ game.date.slice(6,8) }}</kbd>
                                                    <div class="mt-4 mx-4 align-items-bottom text-success" v-if="!!game.pitch">
                                                        <i class="fas fa-map-marked-alt"></i> {{ game.pitch }}
                                                    </div>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-title">
                                                    <div class="row align-items-center pt-3">
                                                        <div class="col-lg-5 col-md-4 border-right text-md-right" v-if="!!game.subTeam">
                                                            <div class="my-1 d-inline">志清{{ game.subTeam }}</div>
                                                            <img src="img/logo.png" class="club-logo img-fluid ml-2 mb-2 d-inline">
                                                        </div>
                                                        <div class="col-lg-5 col-md-4 border-right text-md-right" v-else>
                                                            <div class="my-1 d-inline">志清</div>
                                                            <img src="img/logo.png" class="club-logo img-fluid ml-2 mb-2 d-inline">
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 mb-2 text-primary">
                                                            {{ game.final_score }} 【{{ game.wdl }}】
                                                            <br v-if="!!game.pso">
                                                            <div v-if="!!game.pso">(PSO {{ game.pso }})</div>
                                                        </div>
                                                        <div class="col-lg-5 col-md-4 text-md-left">
                                                            <img :src="'img/logo/' + game.opponent + '.jpg'" class="club-logo img-fluid mr-2 mb-2 d-inline">
                                                            <div class="my-1 d-inline">{{ game.opponent }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <div v-for="team in match.team" v-if="team.name === game.subTeam">
                                                        Match Squad: <br>
                                                        【志清{{ team.name }}】 {{ team.members }}
                                                    </div>
                                                    <ul class="nav nav-tabs mt-3" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="formation-tab" data-toggle="tab" :href="'#form' + game.date + game.opponent" role="tab" aria-controls="formation" aria-selected="true">Formation / Starters</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="score-tab" data-toggle="tab" :href="'#score' + game.date + game.opponent" role="tab" aria-controls="score" aria-selected="false">Scorers（Assistors / OG Enforcers）</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="goalkeeper-tab" data-toggle="tab" :href="'#goalkeeper' + game.date + game.opponent" role="tab" aria-controls="goalkeeper" aria-selected="false">Goal Keepers / Coaches</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade show active" :id="'form' + game.date + game.opponent" role="tabpanel" aria-labelledby="formation-tab">
                                                            <div class="row">
                                                                <div class="col my-2">
                                                                    <img :src="'img/formations/' + game.date +  game.opponent + '.png'" class="img-fluid">
                                                                </div>
                                                                <div class="col my-2" v-if="!!game.subs">
                                                                    <div class="text-info my-4">Subs:</div>
                                                                    <h5 v-for="player in game.subs">{{ player.number }} {{ player.name }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" :id="'score' + game.date + game.opponent" role="tabpanel" aria-labelledby="score-tab">
                                                            <h5 class="my-4" v-for="scorer in game.scorers">
                                                                {{ scorer.name }}<span v-if="!!scorer.assist">（{{ scorer.assist }}）</span>
                                                            </h5>
                                                        </div>
                                                        <div class="tab-pane fade" :id="'goalkeeper' + game.date + game.opponent" role="tabpanel" aria-labelledby="goalkeeper-tab">
                                                            <div class="row border-bottom my-4">
                                                                <div class="col-6 text-right">GK:</div>
                                                                <div class="col-6 text-left">
                                                                    <h5 v-for="gk in game.goalkeepers"> {{ gk }} <span v-if="!!game.isCleanSheet">(CS)</span> </h5>
                                                                </div>
                                                            </div>
                                                            <div class="row border-bottom my-4">
                                                                <div class="col-6 text-right">Coach:</div>
                                                                <div class="col-6 text-left">
                                                                    <h5 v-for="coach in game.instructors"> {{ coach }} </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-warning bg-secondary text-left pl-4 mt-4 align-items-bottom">{{ game.note }}</div>
                                                </div>
                                            </div>
                                        </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="https://github.com/Skite/ZhiQinFootball/issues">意見回饋</a>
                        </li>
                        <!-- <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li> -->
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; ZhiQin Football 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-2 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <img src="img/qrcode.png" class="img-fluid">
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/match.js"></script>
</body>

</html>