<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#160a13">
    <meta name="theme-color" content="#ffffff">
    <title>志清足球隊</title>
    <meta name="description" content="臺北市立志清國民小學108學年級足球隊" />
    <meta property="og:site_name" content="ZhiQingFootball" />
    <meta property="og:url" content="https://skite.github.io/ZhiQingFootball/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ZhiQingFootball" />
    <meta property="og:image" content="https://skite.github.io/ZhiQingFootball/img/bg-masthead.jpg" />
    <meta property="og:description" content="臺北市立志清國民小學108學年級足球隊" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link rel="icon" href="img/favicon.png">
    <link href="vendor/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-logo" href="index.html"><img src="img/logo.png" class="img-fluid nav-logo"><span>志清足球隊</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-default" href="squad.html">Squad</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="matches.html">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="schedule.html">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default" href="media.html">Media</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="ZhiQingFootball" v-cloak>
        <!-- Masthead -->
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h2 class="mb-5 text-dark">影像記錄</h2>
                    </div>
                </div>
            </div>
        </header>
        <div class="d-flex justify-content-center my-4">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-video-tab" data-toggle="pill" data-target="#pills-video" type="button" role="tab" aria-controls="pills-video" aria-selected="true">Match Highlights</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-photo-tab" data-toggle="pill" data-target="#pills-photo" type="button" role="tab" aria-controls="pills-photo" aria-selected="false">Photo Album</button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                <main class="site-wrapper">
                    <h2 class="text-white text-center mt-4">Match Highlights</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="wrapper row">
                                    <div class="media col-md-4 my-3" v-for="item in sortVideos">
                                        <div class="layer" data-toggle="modal" :data-target="'#video' + item.cupName">
                                            <i :class="item.icon"></i>
                                            <p class="mx-2 w-75">{{ item.cupName }}</p>
                                        </div>
                                        <img :src="'img/matches/'+ item.cover +'.jpg'" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Modal -->
                <div v-for="item in sortVideos">
                    <div class="modal fade" :id="'video'+ item.cupName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content container-fluid">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">{{ item.cupName }}</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="row justify-content-center media-group">
                                    <div class="modal-body col-md-6" v-for="videos in item.videos">
                                        <h3>{{ videos.date }} vs {{ videos.opponents }}</h3>
                                        <div class="video-container">
                                            <iframe width="560" height="315" style="min-height: 300px;" frameborder="0" :src="'https://mega.nz/embed/' + videos.url" allowfullscreen></iframe>
                                            <!-- <video width="85%" controls>
                                        <source :src="'https://www.googleapis.com/drive/v3/files/' + videos.url + '?key=AIzaSyDCwrjAxBMmD2woGaz773X6MFgrHu4nDrQ&alt=media'" type="video/mp4">
                                    </video> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-photo" role="tabpanel" aria-labelledby="pills-photo-tab">
                <main class="site-wrapper">
                    <h2 class="text-white text-center mt-4">Photo Album</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="wrapper row">
                                    <div class="media col-md-4 my-3" v-for="item in sortAlbums">
                                        <div class="layer" data-toggle="modal" :data-target="'#photo' + item.cupName">
                                            <i :class="item.icon"></i>
                                            <p class="mx-2 w-75">{{ item.cupName }}</p>
                                        </div>
                                        <img :src="'img/media/'+ item.cover +'.jpg'" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Modal -->
                <div v-for="item in sortAlbums">
                    <div class="modal fade" :id="'photo'+ item.cupName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content container-fluid">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">{{ item.cupName }}</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="row justify-content-center media-group">
                                    <div class="modal-body col-md-6" v-for="photo in item.photos" v-if="!!photo.url">
                                        <h3>{{ photo.date }} vs {{ photo.opponents }}</h3>
                                        <div v-html="photo.url"></div>
                                    </div>
                                </div>
                                <div class="row modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="https://github.com/Skite/ZhiQingFootball/issues">意見回饋</a>
                        </li>
                        <!-- <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li> -->
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; ZhiQin Football 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-2 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <img src="img/qrcode.png" class="img-fluid">
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/media.js"></script>
</body>

</html>