<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#160a13">
    <meta name="theme-color" content="#ffffff">
    <title>志清足球隊</title>
    <meta name="description" content="臺北市立志清國民小學108學年級足球隊" />
    <meta property="og:site_name" content="ZhiQinFootball" />
    <meta property="og:url" content="https://skite.github.io/ZhiQinFootball/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ZhiQinFootball" />
    <meta property="og:image" content="https://skite.github.io/ZhiQinFootball/img/bg-masthead.jpg" />
    <meta property="og:description" content="臺北市立志清國民小學108學年級足球隊" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link rel="icon" href="img/favicon.png">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/squad.css" rel="stylesheet">
</head>

<body>
    <div id="zhiqinfootball" v-cloak>
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand nav-logo" href="index.html"><img src="img/logo.png" class="img-fluid nav-logo"><span>志清足球隊</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-default" href="squad.html">Squad</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-default" href="matches.html">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-default" href="schedule.html">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-default" href="media.html">Media</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Masthead -->
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h2 class="mb-5 text-dark">球員名冊</h2>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid -->
        <section id="lists" class="features-icons bg-light text-center">
            <div class="container">
                <div class="">
                    <h2>
                        Sort Players by
                    </h2>
                    <div class="row my-2">
                        <div class="search-wrapper panel-heading col-12">
                            <button class="btn btn-outline-primary btn-sm" @click="setSortType('number')"><span>Kit Number</span></button>
                            <button class="btn btn-outline-primary btn-sm" @click="setSortType('totalMatches')"><span>Appearances</span></button>
                            <button class="btn btn-outline-primary btn-sm" @click="setSortType('totalGoals')"><span>Goals</span></button>
                            <button class="btn btn-outline-primary btn-sm" @click="setSortType('totalAsts')"><span>Assists</span></button>
                            <button class="btn btn-outline-primary btn-sm" @click="setSortType('totalCS')"><span>Clean Sheets</span></button>
                        </div>
                    </div>
                </div>
                <div class="">
                    <h2>
                        Player Filter
                    </h2>
                    <div class="row my-2 justify-content-between">
                        <div class="search-wrapper panel-heading col-sm-3">
                            <input class="form-control" type="text" v-model="minNumber" :value="minNumber" placeholder="Kit Number (min)" />
                        </div>
                        ~
                        <div class="search-wrapper panel-heading col-sm-3">
                            <input class="form-control" type="text" v-model="maxNumber" :value="maxNumber" placeholder="Kit Number (max)" />
                        </div>
                        <div class="search-wrapper panel-heading col-sm-4">
                            <input class="form-control" type="text" v-model="searchText" :value="searchText" placeholder="Player Name" />
                        </div>
                    </div>
                    <div class="row my-2 justify-content-center">
                        <div class="position-selectors" v-for="position in positions">
                            <label>
                                {{ position }}
                                <input type="radio" class="text-center" v-model="selectedPosition" :value="position">
                            </label>
                        </div>
                    </div>
                    <div class="row my-2 justify-content-center">
                        <div class="col-sm-2">
                            <button class="btn btn-primary" @click="resetFilter()">Clear Filter</button>
                        </div>
                    </div>
                </div>
                <h3 class="text-left text-white bg-secondary p-2">Active Players</h3>
                <div class="row">
                    <div class="player-card col-xl-4 col-md-6" v-for="player in playerFilter.active">
                        <a data-toggle="modal" :data-target="'#player' + player.number">
                            <div class="profile-card"><img :src="'img/players/player-' + player.number + '.jpg'" class="img img-responsive">
                                <div class="profile-name"> {{ player.name }} <small v-if="!!player.title">({{player.title}})</small></div>
                                <div class="profile-number">{{ player.number }}</div>
                                <div class="profile-position">
                                    <div class="position-item" v-for="pos in player.position"><span class="badge badge-dark">{{ pos }}</span></div>
                                </div>
                                <div class="profile-overview">
                                    <div class="profile-overview">
                                        <div class="row text-center" v-if="player.totalMatches > 0">
                                            <div class="col-sm">
                                                <h3>{{ player.totalMatches }} <small>({{player.totalGS}})</small></h3>
                                                <p>Matches <small>(Starts)</small></p>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col-sm">
                                                <h3>{{ player.totalGoals }}</h3>
                                                <p>Goals</p>
                                            </div>
                                            <div class="col-sm">
                                                <h3>{{ player.totalAsts }}</h3>
                                                <p>Ast</p>
                                            </div>
                                            <div class="col-sm" v-if="player.totalCS > 0">
                                                <h3>{{ player.totalCS }}</h3>
                                                <p>CS</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" :id="'player'+ player.number" tabindex="-1" role="dialog" aria-labelledby="playerCareer" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="playerCareer">Statics</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="profile-card-4 z-depth-3">
                                                    <div class="card">
                                                        <div class="card-body text-center bg-gradien rounded-top">
                                                            <h1 class="text-right"><span class="badge badge-pill badge-dark mx-1">{{player.number}}</span></h1>
                                                            <div class="user-box">
                                                                <img :src="`img/players/player-${player.number}-head.jpg`" alt="user avatar">
                                                            </div>
                                                            <h5 class="mb-1 text-white">{{player.name}} | {{player.englishName}}</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <ul class="list-group shadow-none">
                                                                <li class="list-group-item">
                                                                    <div class="list-icon">
                                                                        <i class="fas fa-map-marked"></i>
                                                                    </div>
                                                                    <div class="list-details">
                                                                        <span v-for="pos in player.position" class="badge badge-dark mx-1 my-1">{{ pos }}</span>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <div class="list-icon">
                                                                        <i class="fas fa-user"></i>
                                                                    </div>
                                                                    <div class="list-details" v-if="player.totalMatches > 0">
                                                                        <h4>{{ player.totalMatches }} <small>Appearances</small></h4>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <div class="list-icon">
                                                                        <i class="fas fa-running"></i>
                                                                    </div>
                                                                    <div class="list-details" v-if="player.totalGS > 0">
                                                                        <h4>{{ player.totalGS }} <small>as Starter</small></h4>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="row text-center mt-4">
                                                                <div class="col p-2">
                                                                    <h4 class="mb-1 line-height-5">{{ player.totalGoals }}</h4>
                                                                    <small class="mb-0 font-weight-bold">Goals</small>
                                                                </div>
                                                                <div class="col p-2">
                                                                    <h4 class="mb-1 line-height-5">{{ player.totalAsts }}</h4>
                                                                    <small class="mb-0 font-weight-bold">Assists</small>
                                                                </div>
                                                                <div class="col p-2">
                                                                    <h4 class="mb-1 line-height-5">{{ player.totalCS }}</h4>
                                                                    <small class="mb-0 font-weight-bold">Clean Sheets</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="card-footer text-center">
                                                            <a class="btn-social btn-facebook waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
                                                            <a class="btn-social btn-google-plus waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
                                                            <a class="list-inline-item btn-social btn-behance waves-effect waves-light"><i class="fa fa-behance"></i></a>
                                                            <a class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-8">
                                                <div class="card z-depth-3">
                                                    <div class="card-body">
                                                        <ul class="nav nav-pills nav-pills-primary nav-justified">
                                                            <li class="nav-item">
                                                                <a :data-target="`#gamelog${player.number}`" data-toggle="pill" class="nav-link active show"><i class="fad fa-clipboard-list"></i> <span class="hidden-xs">Game Log</span></a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a :data-target="`#profile${player.number}`" data-toggle="pill" class="nav-link"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                                                            </li>
                                                            <!-- <li class="nav-item">
                                                                <a data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                                                            </li> -->
                                                        </ul>
                                                        <div class="tab-content p-3">
                                                            <div class="tab-pane active show" :id="`gamelog${player.number}`">
                                                                <div class="accordion" :id="`accordion${player.number}`">
                                                                    <div class="card text-primary" v-for="(match, index) in player.matchGroup">
                                                                        <div class="card-header" :id="`heading2023-${player.number}`">
                                                                            <h2 class="mb-0" :class="`modal-body-${index}`">
                                                                                <button class="btn btn-outline-light btn-block text-left" :class="`modal-body-${index}`" data-toggle="collapse" :data-target="`#year${index}-${player.number}`" aria-expanded="true" :aria-controls="`year${index}`">
                                                                                    {{index.slice(-4)}} <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                                </button>
                                                                            </h2>
                                                                        </div>
                                                                        <div :id="`year${index}-${player.number}`" class="collapse text-info show" :aria-labelledby="`year${index}`" :data-parent="`#accordion${player.number}`">
                                                                            <div class="card-body table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <!-- <th scope="col">Year</th> -->
                                                                                            <th scope="col">Tournament</th>
                                                                                            <th scope="col">GPs</th>
                                                                                            <th scope="col" class="d-none d-md-table-cell">Starts</th>
                                                                                            <th scope="col">Goals</th>
                                                                                            <th scope="col">Asts</th>
                                                                                            <th scope="col" v-if="player.position.includes('GK')">CS</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr v-for="app in match">
                                                                                            <!-- <td>{{ app.year }}</td> -->
                                                                                            <td>{{ app.cup }}</td>
                                                                                            <td>{{ app.g }}</td>
                                                                                            <td class="d-none d-md-table-cell">{{ app.gs }}</td>
                                                                                            <td>{{ app.goals }}</td>
                                                                                            <td>{{ app.asts }}</td>
                                                                                            <td v-if="player.position.includes('GK')">{{ app.cs }}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" :id="`profile${player.number}`">
                                                                <h5 class="mb-3">Introduction</h5>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-left" v-html="player.info"></div>
                                                                    <div class="col-md-12" v-show="player.achievement.length > 0">
                                                                        <h5 class="mt-4 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Achievement</h5>
                                                                        <table class="table table-hover table-striped">
                                                                            <tbody>
                                                                                <tr v-for="achieve in player.achievement">
                                                                                    <td class="text-left">
                                                                                        ★ {{achieve}}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!--/row-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-left text-white mt-4 bg-secondary p-2">Non-active Players</h3>
                <div class="row">
                    <div class="player-card col-xl-4 col-md-6" v-for="player in playerFilter.retire">
                        <a data-toggle="modal" :data-target="'#player' + player.number">
                            <div class="profile-card profile-retire"><img :src="'img/players/player-' + player.number + '.jpg'" class="img img-responsive">
                                <div class="profile-name"> {{ player.name }} </div>
                                <div class="profile-number">{{ player.number }}</div>
                                <div class="profile-position">
                                    <div class="position-item" v-for="pos in player.position"><span class="badge badge-dark">{{ pos }}</span></div>
                                </div>
                                <div class="profile-overview" v-if="player.matches !== '0'">
                                    <div class="profile-overview">
                                        <div class="row text-center">
                                            <div class="col-sm">
                                                <h3>{{ player.totalMatches }} <small>({{player.totalGS}})</small></h3>
                                                <p>Matches <small>(Starts)</small></p>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col-sm">
                                                <h3>{{ player.totalGoals }}</h3>
                                                <p>Goals</p>
                                            </div>
                                            <div class="col-sm">
                                                <h3>{{ player.totalAsts }}</h3>
                                                <p>Ast</p>
                                            </div>
                                            <div class="col-sm" v-if="player.totalCS > 0">
                                                <h3>{{ player.totalCS }}</h3>
                                                <p>CS</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" :id="'player'+ player.number" tabindex="-1" role="dialog" aria-labelledby="playerCareer" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="playerCareer">Statics</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="profile-card-4 z-depth-3">
                                                    <div class="card">
                                                        <div class="card-body text-center bg-gradien rounded-top">
                                                            <div class="user-box">
                                                                <img :src="`img/players/player-${player.number}-head.jpg`" alt="user avatar">
                                                            </div>
                                                            <h5 class="mb-1 text-white">{{player.name}}</h5>
                                                            <!-- <span v-for="pos in player.position" class="badge badge-dark mx-1">{{ pos }}</span> -->
                                                        </div>
                                                        <div class="card-body">
                                                            <ul class="list-group shadow-none">
                                                                <li class="list-group-item">
                                                                    <div class="list-icon">
                                                                        <i class="fas fa-tshirt"></i>
                                                                    </div>
                                                                    <div class="list-details">
                                                                        <h3 class="text-primary">{{player.number}}</h3>
                                                                        <!-- <small>Mobile Number</small> -->
                                                                    </div>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <div class="list-icon">
                                                                        <i class="fas fa-map-marked"></i>
                                                                    </div>
                                                                    <div class="list-details">
                                                                        <span v-for="pos in player.position" class="badge badge-dark mx-1">{{ pos }}</span>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <div class="list-icon">
                                                                        <i class="fas fa-running"></i>
                                                                    </div>
                                                                    <div class="list-details">
                                                                        <h4>{{ player.totalMatches }} <small>Appearances</small></h4>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="row text-center mt-4">
                                                                <div class="col p-2">
                                                                    <h4 class="mb-1 line-height-5">{{ player.totalGoals }}</h4>
                                                                    <small class="mb-0 font-weight-bold">Goals</small>
                                                                </div>
                                                                <div class="col p-2">
                                                                    <h4 class="mb-1 line-height-5">{{ player.totalAsts }}</h4>
                                                                    <small class="mb-0 font-weight-bold">Assists</small>
                                                                </div>
                                                                <div class="col p-2">
                                                                    <h4 class="mb-1 line-height-5">{{ player.totalCS }}</h4>
                                                                    <small class="mb-0 font-weight-bold">Clean Sheets</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="card-footer text-center">
                                                            <a class="btn-social btn-facebook waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
                                                            <a class="btn-social btn-google-plus waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
                                                            <a class="list-inline-item btn-social btn-behance waves-effect waves-light"><i class="fa fa-behance"></i></a>
                                                            <a class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-8">
                                                <div class="card z-depth-3">
                                                    <div class="card-body">
                                                        <ul class="nav nav-pills nav-pills-primary nav-justified">
                                                            <li class="nav-item">
                                                                <a :data-target="`#profile${player.number}`" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a :data-target="`#gamelog${player.number}`" data-toggle="pill" class="nav-link"><i class="fad fa-clipboard-list"></i> <span class="hidden-xs">Game Log</span></a>
                                                            </li>
                                                            <!-- <li class="nav-item">
                                                                <a data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                                                            </li> -->
                                                        </ul>
                                                        <div class="tab-content p-3">
                                                            <div class="tab-pane active show" :id="`profile${player.number}`">
                                                                <h5 class="mb-3">Introduction</h5>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-left" v-html="player.info"></div>
                                                                    <div class="col-md-12">
                                                                        <h5 class="mt-4 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Achievement</h5>
                                                                        <table class="table table-hover table-striped">
                                                                            <tbody>
                                                                                <tr v-for="achieve in player.achievement">
                                                                                    <td>
                                                                                        {{achieve}}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!--/row-->
                                                            </div>
                                                            <div class="tab-pane" :id="`gamelog${player.number}`">
                                                                <div class="accordion" :id="`accordion${player.number}`">
                                                                    <div class="card text-success">
                                                                        <div class="card-header" id="heading2021">
                                                                            <h2 class="mb-0">
                                                                                <button class="btn text-success btn-outline-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#year2021" aria-expanded="false" aria-controls="year2021">
                                                                                    2021 <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                                </button>
                                                                            </h2>
                                                                        </div>
                                                                        <div id="year2021" class="collapse text-success" aria-labelledby="year2021" :data-parent="`#accordion${player.number}`">
                                                                            <div class="card-body table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">Year</th>
                                                                                            <th scope="col">Tournament</th>
                                                                                            <th scope="col">GPs</th>
                                                                                            <th scope="col" class="d-none d-md-table-cell">Starts</th>
                                                                                            <th scope="col">Goals</th>
                                                                                            <th scope="col">Asts</th>
                                                                                            <th scope="col" v-if="player.position.includes('GK')">CS</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr v-for="app in player.appearance" v-if="app.year === '2021'">
                                                                                            <td>{{ app.year }}</td>
                                                                                            <td>{{ app.cup }}</td>
                                                                                            <td>{{ app.g }}</td>
                                                                                            <td class="d-none d-md-table-cell">{{ app.gs }}</td>
                                                                                            <td>{{ app.goals }}</td>
                                                                                            <td>{{ app.asts }}</td>
                                                                                            <td v-if="player.position.includes('GK')">{{ app.cs }}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card text-info">
                                                                        <div class="card-header" id="heading2020">
                                                                            <h2 class="mb-0">
                                                                                <button class="btn text-secondary btn-outline-light btn-block text-left collapsed " type="button" data-toggle="collapse" data-target="#year2020" aria-expanded="false" aria-controls="year2020">
                                                                                    2020 <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                                </button>
                                                                            </h2>
                                                                        </div>
                                                                        <div id="year2020" class="collapse text-secondary" aria-labelledby="year2020" :data-parent="`#accordion${player.number}`">
                                                                            <div class="card-body table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">Year</th>
                                                                                            <th scope="col">Tournament</th>
                                                                                            <th scope="col">GPs</th>
                                                                                            <th scope="col" class="d-none d-md-table-cell">Starts</th>
                                                                                            <th scope="col">Goals</th>
                                                                                            <th scope="col">Asts</th>
                                                                                            <th scope="col" v-if="player.position.includes('GK')">CS</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr v-for="app in player.appearance" v-if="app.year === '2020'">
                                                                                            <td>{{ app.year }}</td>
                                                                                            <td>{{ app.cup }}</td>
                                                                                            <td>{{ app.g }}</td>
                                                                                            <td class="d-none d-md-table-cell">{{ app.gs }}</td>
                                                                                            <td>{{ app.goals }}</td>
                                                                                            <td>{{ app.asts }}</td>
                                                                                            <td v-if="player.position.includes('GK')">{{ app.cs }}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="accordion" :id="`accordion${player.number}`">
                                        <div class="card text-success">
                                            <div class="card-header" id="heading2021">
                                                <h2 class="mb-0">
                                                    <button class="btn text-success btn-outline-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#year2021" aria-expanded="false" aria-controls="year2021">
                                                        2021 <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="year2021" class="collapse text-success" aria-labelledby="year2021" :data-parent="`#accordion${player.number}`">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">Year</div>
                                                        <div class="col-3">Tournament</div>
                                                        <div class="col">GPs</div>
                                                        <div class="col">Starts</div>
                                                        <div class="col">Goals</div>
                                                        <div class="col">Asts</div>
                                                        <div class="col-1" v-if="player.position.includes('GK')">CS</div>
                                                    </div>
                                                    <div class="row border-top py-2" v-for="app in player.appearance" v-if="app.year === '2021'">
                                                        <div class="col">{{ app.year }}</div>
                                                        <div class="col-3">{{ app.cup }}</div>
                                                        <div class="col">{{ app.g }}</div>
                                                        <div class="col">{{ app.gs }}</div>
                                                        <div class="col">{{ app.goals }}</div>
                                                        <div class="col">{{ app.asts }}</div>
                                                        <div class="col-1" v-if="player.position.includes('GK')">{{ app.cs }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card text-info">
                                            <div class="card-header" id="heading2020">
                                                <h2 class="mb-0">
                                                    <button class="btn text-secondary btn-outline-light btn-block text-left collapsed " type="button" data-toggle="collapse" data-target="#year2020" aria-expanded="false" aria-controls="year2020">
                                                        2020 <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="year2020" class="collapse text-secondary" aria-labelledby="year2020" :data-parent="`#accordion${player.number}`">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">Year</div>
                                                        <div class="col-3">Tournament</div>
                                                        <div class="col">GPs</div>
                                                        <div class="col">Starts</div>
                                                        <div class="col">Goals</div>
                                                        <div class="col">Asts</div>
                                                        <div class="col-1" v-if="player.position.includes('GK')">CS</div>
                                                    </div>
                                                    <div class="row border-top py-2" v-for="app in player.appearance" v-if="app.year === '2020'">
                                                        <div class="col">{{ app.year }}</div>
                                                        <div class="col-3">{{ app.cup }}</div>
                                                        <div class="col">{{ app.g }}</div>
                                                        <div class="col">{{ app.gs }}</div>
                                                        <div class="col">{{ app.goals }}</div>
                                                        <div class="col">{{ app.asts }}</div>
                                                        <div class="col-1" v-if="player.position.includes('GK')">{{ app.cs }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="https://github.com/Skite/ZhiQinFootball/issues">意見回饋</a>
                            </li>
                            <!-- <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li> -->
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; ZhiQin Football 2020. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-2 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <img src="img/qrcode.png" class="img-fluid">
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
                </div>
            </div>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/player.js"></script>
    <script type="text/javascript">
    $('.collapse').collapse()
    </script>
</body>

</html>